@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Tajawal";
  src: url("./fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Tajawal";
  src: url("./fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* ... all other @font-face rules from your file ... */
@font-face {
  font-family: "El Messiri";
  src: url("./fonts/El_Messiri/ElMessiri-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: "El Messiri", sans-serif !important;
}
